@font-face {
    font-family: 'HelpMe'; /* Nombre que tú elijas */
    src: url('../Tipografia/HelpMe.woff2'),format('woff2'),
         url('../Tipografia/HelpMe.woff2'),format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BaskervilleOldFace'; /* Nombre que tú elijas */
    src: url('../Tipografia/BaskervilleOF.woff2'),format('woff2'),
         url('../Tipografia/BaskervilleOF.woff2'),format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CageWorld'; /* Nombre que tú elijas */
    src: url('../Tipografia/Cageworld.woff2'),format('woff2'),
         url('../Tipografia/Cageworld.woff2'),format('truetype'); /* Ruta y formato */
    font-weight: normal;
    font-style: normal;
}
